@model DryStream.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzanie Kontami";
}

<h1>@ViewBag.Title</h1>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <ul>
        @if (Model.HasPassword)
        {
            <li>
                <h3>@Html.ActionLink("Zmień swoje hasło", "ChangePassword")</h3> 
            </li>
        }
        else
        {
            <li>
                <h3> @Html.ActionLink("Utwórz swoje hasło", "SetPassword")</h3>
            </li>
        }
            
        <li>
            <h3>@Html.ActionLink("Utwórz nowego Administratora", "Register", "Account")</h3>
        </li>
    </ul>
</div>
  
