@model PagedList.IPagedList<DryStream.Models.Album>
@using PagedList.Mvc

@{
    ViewBag.Title = "Albumy";

}
@if (Model.Count <1)
{
    <h1>Brak albumów dla tego artysy</h1>
}
else
{
    <h1>@Model.First().Artist.Name - dostępne albumy</h1> <br/>

<hr />
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>
                        
                    </th>
                    <th>
                        <h4>@Html.ActionLink("Tytuł", "Albums", new { sorting = ViewBag.SortByTitle })</h4>
                    </th>
                    <th>
                        <h4> @Html.ActionLink("Rok", "Albums", new { sorting = ViewBag.SortByYear })</h4>
                    </th>
                    <th>
                        <h4></h4>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
               
                    <tr>
                        <td>
                            <img src="@item.CoverLink" width="50" height="50" class="img-responsive" alt="Cinque Terre" />
                        </td>
                        <td>
                            <h4>@Html.DisplayFor(m => item.Title)</h4>
                        </td>
                        <td>
                            <h4>@Html.DisplayFor(m => item.Year)</h4>
                        </td>
                        <td>
                            <h4>@Html.ActionLink("Dodaj", "AddSong", new { id = item.AlbumID})</h4>
                        </td>

                        <td>
                            <h4>@Html.ActionLink("Więcej", "AlbumSongs", new { id = item.AlbumID }) </h4>
                        </td>
                        <td>
                            <h4>@Html.ActionLink("Usuń", "DeleteAlbum", new { id = item.AlbumID }) </h4>
                        </td>

                    </tr>
                }

            </table>
            <div>
                <h4>Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</h4>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Albums", new { page, sorting = ViewBag.SortedBy,@Model.First().ArtistID }))


        </div>

        <div class="col-md-6">
            <img src="@Model.First().Artist.CoverLink" width="400" height="400" class="img-responsive" alt="Cinque Terre" />
        </div>
    </div>
}

