@model PagedList.IPagedList<DryStream.Models.Artist>
@using PagedList.Mvc
@{
    ViewBag.Title = "Artyści";
}

        <h1>Artyści @Html.ActionLink(" (Nowy)", "AddArtist")</h1>

    <form action="Artists">
        
        <input type="text" class="form-control" placeholder="Szukaj..." name="Name" />
        <input type="submit" class="btn btn-primary" value="Wyszukaj Artystę" />
    </form>

<hr />
    <table class="table">
        <tr>
            <td>
                @Html.ActionLink("(Sortuj)  ", "Artists", new { sorting = ViewBag.SortByArtist })
            </td>
        </tr>
        @foreach (var item in Model)
            {
            <tr>

                <td>
                    <img src="@item.CoverLink" width="100" height="100" class="img-responsive" alt="Cinque Terre" />
                </td>
                <td>
                    <h3>@Html.DisplayFor(m => item.Name)</h3>
                </td>
                <td>
                    <h3>@Html.ActionLink("Albumy", "Albums", new { id = item.ArtistID }) </h3>
                </td>
                <td>
                    <h3>@Html.ActionLink("Nowy album", "AddAlbum", new { id = item.ArtistID }) </h3>
                </td>

            </tr>
        }

    </table>
    <div>
        <h4>Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</h4>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Artists", new { page, sorting = ViewBag.SortedBy }))
