
@{
    ViewBag.Title = "Administracja";
}

<h1>@ViewBag.Title</h1>

<div>
    <ul>

        <li>
            <h3>
            @Html.ActionLink("Dodaj utwór", "AddSong", "Administration")
            </h3>
        </li>
        <li>
            <h3>
                @Html.ActionLink("Albumy", "AddAlbum", "Administration")
            </h3>
        </li>
        <li>
            <h3>
                @Html.ActionLink("Gatunki", "Genres", "Administration")
            </h3>
        </li>
        <li>
            <h3>
                @Html.ActionLink("Artyści","Artists","Administration")
            </h3>
        </li>
    </ul>
</div>



